body {
    font-family: sans-serif;
}

.main {
    display: flex;
    /*justify-content: center;*/
    width: 100vw;
}

@font-face {
    font-family: "Norse Bold";
    src: url("Norse-Bold.otf");
}

/*Image Section*/

.image-section {
    background: url('./trogir.jpg');
    background-size: cover;
    flex-grow: 1;
    height: 100vh;
    width: 60vw;
    min-width: 345px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

img {
    height: 100px;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    font-family: "Norse Bold";
    padding: 16px; 
    font-size: 1.5rem;
}

.image-section p {
    position: absolute;
    bottom: 0px;
    right: 30px;
    font-size: 15px;
}

/*Form Section*/

.form-section {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    background-color: rgb(237, 238, 237);
    flex-wrap: wrap;
}

.form-section-para {
    margin-bottom: 50px;
    margin-top: 0px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    height: 100px;
    font-weight: bold;
}

form {
    background-color: white;
    width: 100%;  
    height: 270px;
    padding-top: 20px;
}

.form-para {
    margin-top: 0px;
    padding-left: 40px;
    padding-right: 40px;
}

.form-section-para,
.form-para {
    font-size: 23px;
    line-height: 1.2;
}

.columns {
    display: flex;
    flex-direction: row;
    gap: 90px;
    padding-left: 40px;
    padding-right: 40px;
}

.left-column, .right-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text-input {
    display: flex;
    flex-direction: column;
    width: 225px;    
}

.text-input input {
    height: 24px;
    /*border: 1px solid #e5e7eb;*/

    border: 1px solid rgb(224, 224, 224);
}

input:focus {
    border: 1px solid green;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.342);
}

.text-input label {
    font-size: 15px;
}

.click {
    height: 125px;
}

button {
    /*position: absolute;
    left: 620px;*/
    margin-right: 560px;
    margin-top: 30px;
    width: 225px;
    height: 45px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    /*background-color: rgb(3, 187, 133);*/
    /*background-color: #03bb85;*/
    background-color: #1ebb8c;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

button:hover,
button:focus {
    background-color: #0d533e;
}

.click-para {
    font-size: 17px;
}

.log-in {
    color: #1ebb8c;
}

.log-in:hover {
    color: #0d533e;
    font-weight: bold;
}